extends layout

block content

  div(class='title')
    h1= title

  div(class='wrap')
    each topic in context.topics
      - var url='/topic?id=' + topic._id
      div(class='topic')
        a(href=url): h4= topic.title
        p= topic.dateCreated
        p= topic.username

  div(class='button-container')
    div(class='button')
      a(href='/new-topic') new topic
