extends layout

block content

  div(class='wrap')

    h1= title

    h2 new post

    form(class='new-post' id='new-post' action='/new-post' method='POST')
      label(for='username') your name (optional)
      input(type='text' id='username' name='username')
      
      label(for='body') message
      textarea(name='body' form='new-post' id='body')

      div(class='button-container')
        button(type='submit' class='button') submit
        div(class='button')
          a(href='/') home